[Desktop Entry]
Categories=Game;
Comment[es_ES]=regresa al escritorio
Comment=regresa al escritorio
Exec=/home/masies/.local/bin/close_steam.sh
GenericName[es_ES]=
GenericName=
Icon=mintdesktop
MimeType=
Name[es_ES]=Volver al escritorio
Name=Volver al escritorio
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
